In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
p = sns.color_palette()

In [9]:
pip install xlrd

Requirement already satisfied: xlrd in /Users/aaronkg1/miniconda3/lib/python3.7/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install xlrd==1.2.0

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 3.6 MB/s eta 0:00:01
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 2.0.1
    Uninstalling xlrd-2.0.1:
      Successfully uninstalled xlrd-2.0.1
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.6-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 8.2 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8915 sha256=656e7509b13139bd9d59a937b39dcf3fdfaf121eade1c950f39297e25bcbf2b2
  Stored in directory: /Users/aaronkg1/Library/Caches/pip/wheels/e2/bd/55/048b4fd505716c4c298f42ee02dffd9496bb6d212b266c7f31
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, jdcal, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.6
Note: you may need to restart the kernel to use updated packages.

In [68]:
df = pd.read_excel("~/Downloads/Copy_of_Dataset_for_Data_Analyst_Skills_Assessment_CIJ.xlsx", sheet_name=1, engine='openpyxl')
df

,Participant_ID,Participant_First_Name,Participant_Last_Name,Nationality,Gender,Date_Participated_in_Program,Number_of_Referrals
0,447235,Michael,Phelps,United States,M,2018-07-16,0.0
1,955356,Larisa,Latynina,Soviet Union,F,2018-05-25,NaN
2,134146,Paavo,Nurmi,Finland,M,2018-01-17,2.0
3,328398,Mark,Spitz,United States,M,2018-11-29,2.0
4,647190,Carl,Lewis,United States,M,2018-01-08,3.0
...,...,...,...,...,...,...,...
146,NaN,NaN,NaN,NaN,NaN,NaT,NaN
147,NaN,NaN,NaN,NaN,NaN,NaT,NaN
148,NaN,NaN,NaN,NaN,NaN,NaT,NaN
149,NaN,NaN,NaN,NaN,NaN,NaT,NaN
150,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [84]:
df.head(101)

,Participant_ID,Participant_First_Name,Participant_Last_Name,Nationality,Gender,Date_Participated_in_Program,Number_of_Referrals
0,447235,Michael,Phelps,United States,M,2018-07-16,0.0
1,955356,Larisa,Latynina,Soviet Union,F,2018-05-25,NaN
2,134146,Paavo,Nurmi,Finland,M,2018-01-17,2.0
3,328398,Mark,Spitz,United States,M,2018-11-29,2.0
4,647190,Carl,Lewis,United States,M,2018-01-08,3.0
...,...,...,...,...,...,...,...
96,395309,Sven,Kramer,Netherlands,M,2018-06-09,4.0
97,920430,Kjetil,André,Norway,NaN,2018-01-12,9.0
98,417757,Inge,de Bruijn,Netherlands,F,2018-09-15,0.0
99,217252,Sven,Fischer,Germany,M,2018-01-14,NaN
100,nan,NaN,NaN,NaN,NaN,NaT,NaN

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Participant_ID                100 non-null    object
 1   Participant_First_Name        100 non-null    object
 2   Participant_Last_Name         100 non-null    object
 3   Nationality                   89 non-null     object
 4   Gender                        78 non-null     object
 5   Date_Participated_in_Program  100 non-null    datetime64[ns]
 6   Number_of_Referrals           91 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 8.4+ KB

In [162]:
df.Number_of_Referrals.mean()

1.6818181818181819

In [159]:
avg_ref = df.groupby(['Participant_ID','Number_of_Referrals'])

In [161]:
avg_ref.Number_of_Referrals.mean()

Participant_ID  Number_of_Referrals
023388          0                      0
026285          0                      0
104458          2                      2
134146          2                      2
161420          0                      0
                                      ..
965539          0                      0
987672          4                      4
993024          4                      4
nan             0                      0
                5                      5
Name: Number_of_Referrals, Length: 61, dtype: int64

In [55]:
df.Participant_ID.iloc[14]

'626-777'

In [72]:
new_columns = []
for c in df.Participant_ID.iloc: 
    clean_c = c.strip("-") 
    new_columns.append(clean_c)
    
df.Participant_ID.iloc[14] = new_columns

SyntaxError: invalid syntax (<ipython-input-72-2b597164686b>, line 3)

In [107]:
#df.Participant_ID = df["Participant_ID"].str.replace("626-777", "626777")
df.Participant_ID = df["Participant_ID"].str.replace("026-285", "026285")
df.Participant_ID = df["Participant_ID"].str.replace("878-765", "878765")

/Users/aaronkg1/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [111]:
df.Participant_ID.iloc[53]

'571312'

In [81]:
df.Participant_ID = df.Participant_ID.astype(str)

In [96]:
df.head(101)

,Participant_ID,Participant_First_Name,Participant_Last_Name,Nationality,Gender,Date_Participated_in_Program,Number_of_Referrals
0,447235,Michael,Phelps,United States,M,2018-07-16,0.0
1,955356,Larisa,Latynina,Soviet Union,F,2018-05-25,NaN
2,134146,Paavo,Nurmi,Finland,M,2018-01-17,2.0
3,328398,Mark,Spitz,United States,M,2018-11-29,2.0
4,647190,Carl,Lewis,United States,M,2018-01-08,3.0
...,...,...,...,...,...,...,...
96,395309,Sven,Kramer,Netherlands,M,2018-06-09,4.0
97,920430,Kjetil,André,Norway,NaN,2018-01-12,9.0
98,417757,Inge,de Bruijn,Netherlands,F,2018-09-15,0.0
99,217252,Sven,Fischer,Germany,M,2018-01-14,NaN
100,nan,NaN,NaN,NaN,NaN,NaT,NaN

In [97]:
df = df.dropna()

In [115]:
df.Participant_ID.count()

66

In [122]:
df.Number_of_Referrals.value_counts()

0.0    34
4.0    12
2.0     9
5.0     6
3.0     5
Name: Number_of_Referrals, dtype: int64

In [123]:
df.Number_of_Referrals = df.Number_of_Referrals.astype(int)

ValueError: Length of values does not match length of index

In [139]:
#2.	How many people participated in the program in 2018?
sal = df.Date_Participated_in_Program.c
#p_id = df.Participant_ID
plt.figure(figsize=(12,4))
sns.barplot(sal.index, sal.values, alpha=0.8, color=p[2])
plt.xlabel('dates', fontsize=12)
plt.ylabel('particpant_count', fontsize=12)

AttributeError: 'function' object has no attribute 'index'